body{width:610px;}
.tableheader {
background-color: #95BEE6;
color:white;
font-weight:bold;
}
.tablerow {
background-color: #A7D6F1;
color:white;
}
.message {
color: #333;
border: #FF0000 1px solid;
background: #FFE7E7;
padding: 5px 20px;
}

.tblLogin{
margin-top : 2px;
}
